Flask
Flask-Mail
gunicorn
python-dotenv
Flask-PyMongo
mysql-connector-python
SQLAlchemy
flask_sqlalchemy
pymysql
cryptography
flask-cors
requests
PyJWT
google-auth
google-auth-oauthlib
Flask-JWT-Extended
Flask-Bcrypt
marshmallow-sqlalchemy